In [1]:
from lib.fixer import Fixer
from lib import func

In [2]:
import pandas as pd

In [3]:
for file in func.iter_subfiles(2025):
    fix = Fixer(file, low_memory = False)
    break

In [4]:
fix.get_temporal_summary()

,start_dt,duration_sec_sum,duration_sec_mean,dist_mi_sum,dist_mi_mean,membership_sum,electric_sum
0,2024-12-31,1.151471e+06,6326.763489,317.8230,1.746280,109,131
1,2025-01-01,3.574692e+07,697.024949,63877.0098,1.245530,40444,36706
2,2025-01-02,4.275744e+07,596.862564,77614.7524,1.083445,63223,49159
3,2025-01-03,4.426557e+07,588.645746,81012.9484,1.077314,66217,52964
4,2025-01-04,3.178827e+07,575.603342,57899.9163,1.048418,48058,38863
5,2025-01-05,2.918835e+07,560.549048,53376.0159,1.025062,45899,36263
6,2025-01-06,3.315330e+07,567.878332,62233.9328,1.065996,54342,39870
7,2025-01-07,3.544508e+07,544.655392,66745.9155,1.025629,60677,45021
8,2025-01-08,3.516275e+07,529.471841,67907.3570,1.022532,61958,46866
9,2025-01-09,3.580128e+07,532.519471,68914.9410,1.025062,62472,48038
10,2025-01-10,4.657061e+07,573.649784,86486.0273,1.065322,73364,57890
11,2025-01-11,3.867807e+07,598.713207,70212.0127,1.086840,56623,45712
12,2025-01-12,4.266477e+07,615.857682,77893.9183,1.124384,60154,47649
13,2025-01-13,5.042481e+07,582.945754,95895.3764,1.108617,79275,58486
14,2025-01-14,3.894545e+07,562.210553,74872.0311,1.080841,64063,47845
15,2025-01-15,2.274549e+06,520.372659,4549.6401,1.040869,3892,3127
16,2025-01-16,2.414355e+06,566.616975,4555.5058,1.069117,3725,3088
17,2025-01-17,3.035517e+06,621.649965,5444.4055,1.114971,4102,3580
18,2025-01-18,2.303867e+06,662.030617,3951.8758,1.135596,2766,2523
19,2025-01-19,1.491077e+06,602.942519,2662.9451,1.076808,1998,1678
20,2025-01-20,9.901714e+05,555.651732,1688.6157,0.947596,1587,1263
21,2025-01-21,1.427821e+06,535.767785,2600.0178,0.975616,2427,1912
22,2025-01-22,1.515708e+06,502.722510,2890.2591,0.958627,2711,2177
23,2025-01-23,1.883562e+06,535.863966,3500.2721,0.995810,3179,2511
24,2025-01-24,2.212589e+06,548.893344,4241.7727,1.052288,3521,2981
25,2025-01-25,1.963258e+06,570.714423,3594.6120,1.044945,2853,2503
26,2025-01-26,2.151311e+06,610.127942,4004.0638,1.135582,2792,2488
27,2025-01-27,2.425373e+06,562.992757,4744.7198,1.101374,3820,2969
28,2025-01-28,2.925478e+06,588.627437,5381.9471,1.082887,4359,3534
29,2025-01-29,2.934923e+06,586.046892,5591.0897,1.116432,4318,3589
30,2025-01-30,2.742065e+06,569.957322,5187.2019,1.078196,4233,3499
31,2025-01-31,2.089714e+06,556.366809,3993.8735,1.063332,3195,2772

From before with column hierarchy

In [5]:
func.df_size(fix.get_temporal_summary('end_dt', 'D'))

1.37 KB

In [13]:
fix.get_view_per_station('dist_mi')

1 Ave & E 110 St                1651.7530
1 Ave & E 118 St                1346.0639
1 Ave & E 16 St                 2966.5934
1 Ave & E 18 St                 3735.9916
1 Ave & E 30 St                 3816.2031
                                  ...
Wyckoff Ave & Stanhope St       1241.5027
Wyckoff St & 3 Ave               921.0897
Wythe Ave & Metropolitan Ave    3376.5537
Wythe Ave & N 13 St             1204.3023
Yankee Ferry Terminal             26.6966
Name: dist_mi_agg, Length: 2170, dtype: float64

In [28]:
func.df_size(fix.df)

194.25 MB