## Dependencies

In [1]:
from lib import concurrent_agg
from lib.func import df_size, iter_subfiles
from lib import Fixer

import pandas as pd
from pathlib import Path

In [14]:
all_tables: dict[str, pd.DataFrame] = dict()
temp_summ_dir = Path('Summaries/temporal_summary')
station_view_dir = Path('Summaries/view_per_station')

In [3]:
files = [f for year in range(2013, 2026) for f in iter_subfiles(year)]
fix_test = Fixer(files[0])
fix_test.view_per_station()

                          station    dist_mi
0                 1 Ave & E 16 St  5363.4805
1                 1 Ave & E 18 St  3933.6592
2                 1 Ave & E 30 St  3842.6748
3                 1 Ave & E 44 St  4884.0782
4                10 Ave & W 28 St  5043.1444
..                            ...        ...
332      Willoughby Ave & Hall St  1393.5684
333  Willoughby Ave & Walworth St  1576.6894
334      Willoughby St & Fleet St   798.3459
335  Wythe Ave & Metropolitan Ave  4016.8525
336              York St & Jay St  4886.8491

[337 rows x 2 columns]

In [4]:
def fetch_temporal_summaries(
        all_tables: dict[str, pd.DataFrame]
        ,params: str
        ,dt_field: str
        ,freq: str
    ) -> None:
    path = Path(f'{temp_summ_dir}/{params}.csv')

    if not path.exists():
        summary = concurrent_agg(
            table_name = 'temporal_summary'
            ,save_file = path
            ,dt_field = dt_field
            ,freq = freq
        )
    else:
        summary = pd.read_csv(path)
        df_size(summary)
        
    all_tables[params] = summary
    return None

In [15]:
def fetch_station_view(
        all_tables: dict[str, pd.DataFrame]
        ,params: str
        ,view: str = None
    ) -> None:
    path = Path(f'{station_view_dir}/{params}.csv')

    if not path.exists():
        summary = concurrent_agg(
            table_name = 'view_per_station'
            ,save_file = path
            ,view = view
        )
    else:
        summary = pd.read_csv(path)
        df_size(summary)
        
    all_tables[params] = summary
    return None

In [16]:
params = 'station_dist'
fetch_station_view(all_tables, params = params)

210.39 KB

In [20]:
all_tables['station_dist'].sort_values('dist_mi', ascending = False).head(10)

                            station       dist_mi
2706          West St & Chambers St  4.116524e+06
58                 12 Ave & W 40 St  3.616595e+06
2527                W 21 St & 6 Ave  2.472178e+06
525                 8 Ave & W 31 St  2.412180e+06
1195             E 17 St & Broadway  2.249881e+06
2447       Vesey Pl & River Terrace  2.227507e+06
13                  1 Ave & E 68 St  2.206013e+06
2094          Pershing Square North  2.156536e+06
956        Cleveland Pl & Spring St  2.141483e+06
932   Christopher St & Greenwich St  2.087665e+06

In [13]:
# freqs = {
#     'minute': 'min'
#     ,'hourly': 'h'
#     ,'daily': 'D'
#     ,'monthly': 'ME'
#     ,'yearly': 'YE'
# }
# dt_fields = ['start_dt', 'end_dt']

# for desc, freq in freqs.items():
#     for dt_field in dt_fields:
#         params = f'{dt_field}_{desc}'
#         fetch_temporal_summaries(all_tables, params, dt_field, freq)

In [ ]:
dt_fields = ['start_dt', 'end_dt']
freq = 'h'
for dt_field in dt_fields:
    params = f'{dt_field}_hourly'
    path = Path(f'{temp_summ_dir}/{params}.csv')

    if not path.exists():
        summary = concurrent_agg(
            table_name = 'view_per_station'
            ,save_file = path
            # ,max_workers = workers
            ,dt_field = dt_field
            ,freq = freq
        )
    else:
        summary = pd.read_csv(path)
        df_size(summary)

5.54 MB
8.31 MB